<ion-view view-title="Login">
<div class="login-wrapper">
  <h4>Enter your email id</h4>
  <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="john@suhr.com">  
</div>
<div class="row">
  <div class="col col-1">
    <button class="button button-positive button-full" ng-click="login()">Reset Password
    </button>   
  </div> 
</div>   
<div class="row"> 
  <div class="col col-50 col-offset-50"><a href="#/login">Click to login</a></div>
</div>
</div>
</ion-view>
</div>
