<ion-view view-title="Login" overflow="true">
<ion-content scroll="true" class="login-wrapper">
  <h3>Login to your account</h3>
  <div class="row">
    <div class="col col-50"><button class="button button-positive button-full icon-left ion-social-facebook facebook-blue" ng-click="fbLogin()">Login With Fb</button></div>
    <div class="col col-50"><button class="button button-assertive button-full icon-left ion-social-googleplus googleplus-red" ng-click="googleLogin()">Login With G+</button></div>
  </div>
  <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="john@suhr.com">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password">
      </label>      
</div>
<div class="row">
  <div class="col col-1">
    <button class="button button-royal button-full" ng-click="login()">Login
    </button>   
  </div> 
</div>   
<div class="row"> 
  <div class="col col-50 col-offset-25"><a href="#/register">Click to Register</a></div>
  <div class="col-25"><a href="#/forgot-password">Forgot Password</a></div>
</div>
</ion-contentSSS>
</ion-view>
</div>
