<ion-view view-title="Register">
<div class="login-wrapper">
  <h3>Sign Up to your account</h3>
  <div class="row">
    <div class="col col-50"><button class="button button-positive button-full icon-left ion-social-facebook facebook-blue" ng-click="fbLogin()">Connect With Fb</button></div>
    <div class="col col-50"><button class="button button-assertive button-full icon-left ion-social-googleplus googleplus-red" ng-click="googleLogin()">Connect With G+</button></div>
  </div>
  <div class="list">
    <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="John">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Suhr">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="john@suhr.com">
      </label>
</div>
<div class="row">
  <div class="col col-1">
    <button class="button button-positive button-full" ng-click="login()">Create Account
    </button>   
  </div> 
</div>   
<div class="row"> 
  <div class="col col-25 col-offset-25"><a href="#/login">Login</a></div>
  <div class="col-50"><a sref="register">Forgot Password</a></div>
</div>
</div>
</ion-view>
</div>
